Raw Data Processing/Data/*
Raw Data Processing/Output/*
!Raw Data Processing/Data/IncFilePreSuf/README.md
!Raw Data Processing/Output/Figures/.keepoutfolder
conversion_dictionaries.pkl
.snakemake
__pycache__
.new_env/*
prebalm
*.pyc